*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(1, 1, 40);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container form{
    position: relative;
    width:100%;
    max-width: 500px;
    height: 400px;
    background-color: #fff;
    padding: 30px 30px;
    font-size: 16px;
   

}
form img{
    position: absolute;
    left: 50%;
    top:0;
    transform: translate(-50%,-50%);
    border: none;
    box-shadow: 0 0 0 1px rgba(243, 239, 239, 0.1);
    background-color: rgb(1, 1, 55);
    border-radius: 50%;
}
.container form .input-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    margin: 15px 0;
}
.input-group input{
    width: 60%;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #3c3a3a;
    margin-right: 20px;
}
::placeholder{
    font-size: 14px;
}
.input-group textarea{
    flex-basis: 60%;
    margin-top: 75px;
    margin-right: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid #3c3a3a;
   
}
form button{
    width: 30%;
    height: 30px;
    background-color: rgb(1, 1, 40);
    position: absolute;
    bottom: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    left: 35%;
}
.input-group span{
    position: absolute;
    right: 50px;
    font-size: 12px;
    color: red;
}
form #submit-error{
    position: absolute;
    left: 30px;
    bottom: 25px;
    color: red;
}